* {

    font-family: "Poppins", serif;
}


body {
    display:flex;
    align-content: center;
    justify-content: center;
    height:100vh;
    
}

form {
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
   
   
}

.formitems {
    background-color: rgb(238, 221, 255);
    padding:30px;
    border-radius: 10px;
    width:300px;
    display:flex;
    gap:15px;

}

div {
    display:flex;
    flex-direction: column;
    justify-content:center;
    gap:2px;
}

label {
    font-family: "Poppins", serif;
}

#submit {
    border:none;
    background-color: black;
    color:white;
    padding:15px;
    border-radius: 30px;
}

